html{
    overflow: hidden;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.dashboard-container {
    display: flex;
    background-color: #f8f9fa;
    height: 100vh;
    overflow: hidden;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.header-left h1 {
    font-size: 28px;
    color: #343a40;
}

.header-left p {
    font-size: 18px;
    color: #868e96;
}

.header-right .add-user-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-right .add-user-btn:hover {
    background-color: #0056b3;
}

/* Barra de búsqueda */
.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 10px 20px 10px 40px; /* Espacio para la lupa */
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.search-bar input:focus {
    outline: none;
    border-color: #007bff;
}

.search-bar input::placeholder {
    color: #aaa;
}

/* Ícono de lupa */
.search-bar .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 1.2rem;
    pointer-events: none;
}


/* Lista de usuarios */
.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    max-height: 550px; /* Ajuste opcional de altura máxima */
    overflow-y: auto; /* Habilitar scroll si hay muchos usuarios */
}

.user-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.user-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-details h2 {
    font-size: 22px;
    color: #343a40;
}

.user-details p {
    font-size: 16px;
    color: #868e96;
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.edit-btn, .delete-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #28a745;
    color: #fff;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Barra de filtros */
.filter-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .filter-bar select {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
  }
  
  .filter-bar select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Filtros aplicados */
  #appliedFilters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .filter-tag {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  .filter-tag .filter-close {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  #resetFilters {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
  }
  
  #resetFilters:hover {
    background-color: #c82333;
  }

/* Media queries para diseño responsivo */
@media screen and (max-width: 768px) {
    .header-left h1 {
        font-size: 24px;
    }
    .filter-bar {
        flex-direction: column;
        gap: 10px;
      }

    .header-left p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .user-details h2 {
        font-size: 18px;
    }

    .user-details p {
        font-size: 14px;
    }

    .edit-btn, .delete-btn {
        padding: 6px 12px;
        font-size: 14px;
    }
}


/*estilos de formularios de creacion y edicion */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* Ajusta esto según el ancho inicial deseado */
    width: 400px; /* Ancho inicial del sidebar */
    height: 100%;
    background-color: #e6f2ff;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    min-width: 300px; /* Ancho mínimo del sidebar */
    max-width: 50vw; /* Máximo 50% del ancho de la ventana */
}

#sidebar.open {
    right: 0;
}

#sidebar-resizer {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100% !important;
    background-color: #f5c792;
    cursor: ew-resize;
}

.sidebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

    /* General form styles */
.form-container {
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #00bcff;
    outline: none;
}

input[type="file"] {
    border: none;
}

.error-message {
    color: #c12646;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.success-message {
    color: #00bcff;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

/* Button styles */
.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #00bcff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-primary:hover {
    background-color: #008ecf;
}

/* Lock icon */
.lock-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.lock-icon.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.lock-icon:hover {
    transform: translateY(-50%) scale(1.1);
}

/* File input styles */
input[type="file"]::file-selector-button {
    padding: 5px 15px;
    background-color: #00bcff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background-color: #008ecf;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .form-container {
        padding: 15px;
    }

    .form-group input,
    .form-group select {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 14px;
    }
}


/* Ajuste para el contenido principal */
.main-content {
    transition: margin-right 0.3s ease-in-out;
}

.main-content.shifted {
    margin-right: 400px;
}
