* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    width: 40%;
    height: fit-content;
    border-top: 3px solid #70cbeb;
    border-bottom: 3px solid #70cbeb;
}

.mod_asign_container{
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    width: 40%;
    height: fit-content;
    border-top: 3px solid #70cbeb;
    border-bottom: 3px solid #70cbeb;
}

.container div{
    margin-bottom: 10px;
}

h2 {
    margin: 20px 20px 20px 0;
    color: #333;
    
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"], input[type="password"],  input[type="email"], input[type="tel"],input[type="date"], textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}


input[type="file"] {
    width: 27%;
    height: 100%;
}

button {
    background-color: #72c6e5;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    transition: all 1s;
}

button:hover {
    background-color: #536bc9;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 15px;
}

legend {
    color: #555;
    margin-bottom: 8px;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.file-input {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-input input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;

    
}

.radio-group label {
    margin-right: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input, textarea, select, button {
        padding: 8px;
    }

    .radio-group label {
        margin-bottom: 5px;
    }
}

.boletin__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;
}

.checkbox-group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-gap: 10px;
}

.checkbox-container{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    
    
}

input[type="checkbox"]{
        cursor: pointer;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
        width: 30px;
        height: 25px;
        border-radius: 10%;
        appearance: none;
        background-position: center;
        border: 2px solid #535151;
    
}

input[type="checkbox"]:checked {
    background-color: #70cbeb;
    
}

#assignedModulesList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#assignedModulesList li {
    display: flex;
    flex-direction: row;
    
}